/*CHART PAGE CSS*/

#chart-tags,#chart-description{
  border:1px;
  border-style:dotted;
  border-color: black;
  margin-left: auto;
  margin-right: auto;
  width:80%;
}

#chart-tags:hover,#chart-description:hover{
  background-color:white;
} 

.chartDesc{
  margin-left: 10%;
}

.chartDesc p{
  font-size:14px;
}

#remixLikeReport{
  height:20px;
}

#remixLike{
  float:right;
  margin-right:10%;
  margin-top: 5px;
}

#report{
  float:left;
  margin-left: 10%;
  margin-top: 5px;
}

#allButtons button{
    margin-left:5px;
    float:right;
}

#allButtons{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

#like-button {
  background-color: #000080;
}

#remix-button{
  background-color:#FA567B;
}

#parent-button{
  background-color:rebeccapurple;
}

#comment-block{
    margin-left: auto;
    margin-right: auto;
    width:80%;
}

#chartInfo{
  position:relative;
  background-color:#8da6dd;
  margin-left: auto;
  margin-right: auto;
  width:80%;
  margin-bottom: 5px;
}

#chartInfo li{
  display:inline-block;
}

#numLikes{
  display: inline-block;
  margin-right:10px;
  float:right;
}

#delete-button{
  background-color:#800000;
}

#author-profile-link{
  border-bottom:1px dotted;
}
