@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Dosis');

html,body {
margin:0;
padding:0;
}

body {
    background-color: lavender;
    font-family: 'Dosis', sans-serif;
   
}

#banner{
  height:400px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
}

#banner a{
  size:15px;
  color:white;
}

button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Dosis',sans-serif;
}


#logout-button,#LogButton, .cancelbtn,#signup-button{
  
}

#login-signup-container button {

  color:white;
  float:right;
  margin-right:20px;


}


h1, h2, h3 {
    color: white;   
}

h1{
  text-shadow: 2px 3px black;
  padding:0;
  margin:0;
  padding-left: 5px;
}

h2{
  color:black;
  padding-left:5px;
  /*text-shadow: 2px 2px black;*/
}

#make-chart-button {
    /*background-color: green;*/ /* Green */
    margin-left:5px;
}

.remix-button {
    background-color: olivedrab; /* Green */
    bottom:0;
    margin-left:2px;
    
    position:absolute; 
    bottom:0;
    margin-bottom: 5px;
}

.like-button {
  background-color: #000080;
  position:absolute;
  right:2px;
  bottom:0;
  /*margin-left:10%;
  margin-top:10px;*/
  margin-bottom: 5px;
  margin-right:5px;
}

#wholeThing{
    margin-left: auto ;
    margin-right: auto ;
    width:800px;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    
}

/*color picker*/
input[type="color"] {
  /*position:absolute;*/
  display: block;
  margin-left:25%;
  width: 50%;
  /*top:50%;*/

}


.chart-canvas{
  margin-left:10%;
}

.charts-container div{
  padding:0;
  margin-left: auto ;
  margin-right: auto ;
  /*width:800px;*/
}




/*for hiding the delete button
*/.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

