@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Indie+Flower');
html,body {
margin:0;
padding:0;
}

body {
    background-color:#b39fc7;
    /*font-family: 'Dosis', sans-serif;*/
    font-family: 'Indie Flower', cursive;
    padding-left:5px;
    color:black;   
}

a{
  font-size:25px;
}

h1{
  /*color:white;*/
/*  text-shadow: 2px 3px black;
*/  padding:0;
  margin:0;
  padding-left: 5px;
  font-family: 'Indie Flower', cursive;
}

h2{
  color:black;
  padding-left:5px;
  font-family: 'Indie Flower', cursive;
  /*text-shadow: 2px 2px black;*/
}

/*BANNER AND NAV BAR CSS*/

#header{
  position:relative;
}

#banner{
  height:200px;
  /*background-image: url("../img/banner.jpg");*/ 
  background-color: #EF767A;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
  position: relative;
}

#banner a, #user-profile-link{
  /*size:15px;*/
  /*color:white;*/
  font-size: 25px;
  text-decoration: none;
  border-bottom: 1px dotted black;
  
  
  
}

#banner li{
  float:left;
  padding: 10px;
  display:inline-block;
  margin-bottom: 20px;
  
}

#banner li a:visited{
  color:inherit; 
}


#loginButtons{
  padding-bottom:20px;
  margin-right: 10px;
}
#loginButtons button{
  float:right;
  padding:5px;
  margin: 10px;
  
}

#search-widget{
  float:left;
  bottom:5px;
  position:absolute;
  margin-left:5px;
  font-family: 'Indie Flower', cursive;
 
}

button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Indie Flower', cursive;
    border-radius: 5px;

}


#logout-button,#LogButton, .cancelbtn,#signup-button{
  
}

#login-signup-container button {

  color:white;
  float:right;
  margin-right:20px;
}


#make-chart-button {
    /*background-color: green;*/ /* Green */
    margin-left:5px;
}


/*CHART CARD AND CHART-RELATED CSS*/

.remix-button {
    background-color: olivedrab; /* Green */
    bottom:0;
    margin-left:2px;
    
    position:absolute; 
    bottom:0;
    margin-bottom: 5px;
}

.like-button {
  background-color: #000080;
  position:absolute;
  right:0;
  bottom:0;
  margin-bottom: 5px;
  margin-right:5px;
}

.like-box{
  background-color: #000080;
  width:40px;
  height:31px;
  color: white;
  position:absolute;
  right:2px;
  bottom:0;
  margin-bottom: 5px;
  margin-right:60px;
  text-align: center;
  border:none;
}

#wholeThing{
    margin-left: auto ;
    margin-right: auto ;
    width:800px;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    
}


.chart-canvas{
  margin-left:10%;
}

.charts-container div{
  padding:0;
  margin-left: auto ;
  margin-right: auto ;
  /*width:800px;*/

}


/*for hiding the delete button*/

.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}

