@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Aref+Ruqaa|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
html,body {
margin:0;
padding:0;
}

body {
    background-color:#DCD6F7;
    font-family: 'Quicksand', sans-serif;
    padding-left:5px;
    color:black;   
}

a{
  font-size:25px;
}

h1{
  padding:0;
  margin:0;
  padding-left: 5px;
  font-family: 'Pattaya', sans-serif;
}

h2{
  color:black;
  padding-left:5px;
  font-family: 'Quicksand', sans-serif;
}

button {
    background-color: #2A3D45;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
    border-radius: 5px;
}


/*BANNER AND NAV BAR CSS*/

#header{
  position:relative;
}

#banner{
  height:250px;
  background-color: #A6B1E1;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center; 
  position: relative;
}

#banner a, #user-profile-link{
  font-size: 25px;
  text-decoration: none;
  border-bottom: 1px dotted black;
  
}

#banner li{
  float:left;
  padding: 10px;
  display:inline-block;
  margin-bottom: 20px;
  
}

#banner li a:visited{
  color:inherit; 
}

#user-profile-link a{
  text-decoration: none;
}

#loginButtons{
  padding-bottom:20px;
  margin-right: 10px;
}
#loginButtons button{
  float:right;
  padding:5px;
  margin: 10px;
}

#search-widget{
  float:left;
  bottom:5px;
  position:absolute;
  margin-left:5px;
  font-family: 'Quicksand', sans-serif;
}

#make-chart-button{
  float:right;
  bottom:10px;
  right:10px;
  position:absolute;
  margin-right: 20px;
  background-color:#E77B89;
  border: 1px solid purple;
  color:black;
}


#login-signup-container button {
  color:white;
  float:right;
  margin-right:20px;
}


#make-chart-button {
  margin-left:5px;
}


/*CHART CARD AND CHART-RELATED CSS*/

.remix-button {
    background-color: #FA567B; 
    bottom:0;
    margin-left:2px;
    position:absolute; 
    bottom:0;
    margin-bottom: 5px;
}

.like-button {
  background-color: #000080;
  position:absolute;
  right:0;
  bottom:0;
  margin-bottom: 5px;
  margin-right:5px;
}

.like-box{
  background-color:#000080;
  width:30px;
  height:33px;
  color: white;
  position:absolute;
  right:3px;
  bottom:0;
  margin-bottom: 5px;
  margin-right:50px;
  text-align: center;
  border:none;
  border-radius: 5px;
  
}

#wholeThing{
    margin-left: auto ;
    margin-right: auto ;
    width:800px;
}

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    margin-top:5px;
    
}

#chart{
  padding-top:50px;
  padding-bottom:50px;
  background-color: #cccccc;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.chart-canvas{
  margin-left:10%;
}

.charts-container div{
  padding:0;
  margin-left: auto ;
  margin-right: auto ;
}

/*for hiding the delete button*/

.hidden{
    visibility: hidden;
}
.shown{
    visibility: visible;
}


/*Contact Page*/

#contactAbout{
  margin-top:10px;
  background-color:white;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding:50px;
}

